<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	 <servlet>
		<servlet-name>Tes</servlet-name>
		<servlet-class>tes.TesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tes</servlet-name>
		<url-pattern>/tes</url-pattern>
	</servlet-mapping> 
	
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>tes.Upload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Serve</servlet-name>
		<servlet-class>tes.Serve</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Serve</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>
	<!-- error page servlet -->
	<error-page>
		<error-code>404</error-code>
		<location>/ch10/error/404errorHandler.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/ch10/error/500errorHandler.jsp</location>
	</error-page>
	<!-- error page servlet -->
	
	<!-- store admin info in session -->
	<context-param>
		<param-name>MasterID</param-name>
		<param-value>1091055</param-value>
	</context-param>
	<context-param>
		<param-name>MasterPassword</param-name>
		<param-value>112233</param-value>
	</context-param>
	<!-- store admin info in session -->
	
	<!-- ch08dp eogks servlet -->
	<servlet>
		<servlet-name>readInitParamJSP</servlet-name>
		<jsp-file>/ch08/readInitParam.jsp</jsp-file>
		<init-param>
			<param-name>e-mail</param-name>
			<param-value>game@book.com</param-value>
		</init-param>
		<init-param>
			<param-name>emailHost</param-name>
			<param-value>151.68.167.201</param-value>
		</init-param>
		<init-param>
			<param-name>webMaster</param-name>
			<param-value>woong : 1091055</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>readInitParamJSP</servlet-name>
		<url-pattern>/ch08/readParam.jsp</url-pattern>
	</servlet-mapping>
	<!-- ch08dp eogks servlet -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
